@page
@model IndexModel
@{
    ViewData["Title"] = "Random Crypto";
}
<h2>@ViewData["Title"]</h2>
<ul>
    <li>Name: @Model.Name </li>
    <li>Price: @Model.Price USD </li>

</ul>

<p>Refresh the page to get a new currency</p>
